<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
    <title><ui:insert name="title">Default title</ui:insert></title>
</h:head>
<h:body>
    <div id="header">Header</div>
    <div id="menu">Menu</div>
    <div id="content"><ui:insert name="content">Default content</ui:insert></div>
    <div id="footer">Footer</div>
</h:body>
</html>