<ui:composition template="../../WEB-INF/resources/templates/THome.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        ORIGEN WEB-INF Templates
    </ui:define>

    <ui:define name="content">
        <h2>Welcome value="#{jsfUtils.getJsfInfo()}"</h2>
        <p>Blah blah</p>
        <ui:include src="include.xhtml" />
    </ui:define>

    <ui:define name="footer">
        <ui:include src="include.xhtml" />
    </ui:define>
</ui:composition>